
  #Spiel { display: grid; grid-template-columns: 700px 300px; }
  #Erste-Spalte, #Zweite-Spalte { border: 1px solid black; display: inline-grid; }

  #Raum, #Raum-Bild { position: relative; width: 100%; overflow: hidden; }
  #Konsole, #Besitz, #Aktionen { width: 100%; }
  #Raum, #Raum-Bild { height: 600px; }


  #Konsole { height: 200px; }

  #Besitz { height: 70px; padding: 10px; background-color: none; }


  .Mensch { position: absolute; }

  .Gegenstand { position: absolute; border: 0px solid black; visibility: hidden; }
  .Gegenstand > img { max-width: 100%; max-height: 100% }
  .Gegenstand_in_Besitz { display: inline-block; height: 75px; }
  .Gegenstand_in_Besitz img { max-width: 100%; max-height: 100% }

  #Gegenstand_in_Besitz_Vorlage { display: none; }

  #Aktionen { padding: 10px; }

  .Aktion {
      display: inline-block;
      width: 48px;
      height: 48px;
      font-size: 38px;
      text-align: center;
      border: 1px outset;
  }
  .Aktion.aktiv { border-style: inset; }

  #IQ {
      padding: 10px;
      font: bold 1.5em fantasy;
  }

  #Ideen {
      padding: 10px;
      font: bold 1.5em fantasy;
  }

  #Luan_10 { height: 75px; width: 75px; font-size: 75px; }
  #Luan_12 { height: 75px; width: 75px; font-size: 75px; }
