/* Im style definierst du, wie die angezeigten Elemente aussehen sollen. */



  #Spiel { display: grid; grid-template-columns: 700px 300px; }
  #Erste-Spalte, #Zweite-Spalte { border: 1px solid black; display: inline-grid; }

  #Raum, #Raum-Bild { position: relative; width: 100%; }
  #Konsole, #Besitz, #Aktionen { width: 100%; }
  #Raum, #Raum-Bild { height: 600px; }

  #B端cher { position: absolute; top: 180px; left: 200px; height: 75px; width: 100px; border: 0px solid black; visibility: hidden; }
  #B端cher-Bild { width: 100% }

  #Konsole { height: 200px; }

  #Besitz { height: 70px; padding: 10px; background-color: none; }
  #B端cherInBesitz { height: 75px; width: 100px; visibility: hidden; }
  #B端cherInBesitz-Bild { width: 100%; }

  #Aktionen { padding: 10px; }

  .Aktion {
      display: inline-block;
      width: 48px;
      height: 48px;
      font-size: 38px;
      text-align: center;
      border: 1px outset;
  }
  .Aktion.aktiv { border-style: inset; }

  #IQ {
      padding: 10px;
      font: bold 1.5em fantasy;
  }